html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

:root{
    --title-color: #212121;
    --text-color: #757575;
    --hover-color: #2196f3;
}

body{
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p{
    margin: 0;

}

img{
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

}


.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

textarea{
    font-style: inherit;
}







/* |===================================================================| */
/* |<================↓-Header (STUDIO)-↓============↥↥====>| */
/* |===================================================================| */


.header-section{
    display: flex;
    align-items: center;
}


.header__nav{
    display: flex;
    align-items: center;    
}


.header__link-logo{
    font-family: Raleway, sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}



.header__logo-style{
    color: var(--hover-color);
}


.header__list{
    display: flex;  
    margin-left: 90px;

}

.header__items{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;    
    color: var(--title-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    

}

.header__list .header__item:not(:last-child){
    margin-right: 50px;

}

.header__list .header__items.current{
    color: var(--hover-color);
}

.header__items.current{
    position: relative;
}

.header__items.current::after{
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}


.header__contact{

    margin-left: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;

    color: var(--text-color);
    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}


.header__contact .header__item-contact:last-child{
    margin-left: 50px;
}


.header__contact:hover,
.header__contact:focus{
    color: var(--hover-color);
}

.header__list .header__items:hover,
.header__list .header__items:focus{
    color: var(--hover-color);
    
}

.header__list .header__items.current{
    color: var(--hover-color);
}

.header__icon-contact{
    fill: #757575;
    margin-right: 10px;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.header__icon-position{
    margin-left: 10px;
}


.header__icon-position:hover .header__icon-contact{
    fill: #2196f3;

}

.line{
    border-bottom: 1px solid #ECECEC;
}


/* |===================================================================| */
/* |<================↓-Hero (STUDIO)-↓============↥↥====>| */
/* |===================================================================| */


.hero{  
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;



    background-image: linear-gradient(
         to right
    ,  rgba(47, 48, 58, 0.4)
    ,  rgba(47, 48, 58, 0.4)
    ), url(../images/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.hero__block{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.hero__title{
    margin-bottom: 30px;



    width: 696px;
    height: 120px;
 
    color: #FFFFFF;
    
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.hero__button{
    color: #FFFFFF;
    background-color: var(--hover-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    margin-right: auto;
    margin-left: auto;


    font-family: 'Roboto';
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;

    letter-spacing: 0.06em;
    cursor: pointer;
}



/* |===================================================================| */
/* |<================↓-Features (STUDIO)-↓============↥↥====>| */
/* |===================================================================| */



.features__title-main{
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

.features__title{
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-color);   

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__list{
    display: flex;
    column-gap: 30px;
}

.features__block-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features__icon{
    display: flex;
    align-items: center;
    justify-content: center;

    
}


.features__text{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

/* |===================================================================| */
/* |<================↓-Our-works (STUDIO)-↓============↥↥====>| */
/* |===================================================================| */

.section-work{
    padding-top: 0;
}

.work__title{

    margin-bottom: 50px;
    margin-top: 0;
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

.work__list{
    display: flex;
    gap: 30px;
}

.work__overlay-container{
    position: relative;

}

.work__overlay-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}


.work__action-description{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}




/* |===================================================================| */
/* |<================↓-Team (STUDIO)-↓============↥↥====>| */
/* |===================================================================| */

.team__section-color{
    background-color: #F5F4FA;
    padding-top: 94px;
}

.team__title{
    margin-bottom: 50px;
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
}

.team__list{
    display: flex;
    list-style: none;
    gap: 30px;
}

.team__item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.team__workers{
    display: inline-block;
    display: flex;
    justify-content: center;

    margin-top: 21.5px;
    margin-bottom: 10px;
    color: var(--title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
    letter-spacing: 0.03em;
}


.team__specialty-workers{

    display: flex;
    justify-content: center;

    margin-top: 0;
    color: var(--text-color);

   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    
}


.team__socials-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.team__socials-item{
    margin-top: 16px;
    margin-bottom: 30px;
}

.team__icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: #FFFFFF;

    border-radius: 50%;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;




}

.icon-social{
    fill: #AFB1B8;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
 
}

.team__icon-link:hover{
    background-color: #2196f3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
    
}

.team__icon-link:hover .icon-social{
    fill: #FFFFFF;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: fill;
    
}



/* |===================================================================| */
/* |<================↓-Company (STUDIO)-↓============↥↥====>| */
/* |===================================================================| */

.section-client{
    padding-top: 94px;
}

.client__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}

.company__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.company__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;

}


.company__link{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: border;



}

.company__link:hover{
    border-color: var(--hover-color);
}



.company__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
  
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.company__icon:focus{
    fill: var(--hover-color);

}

.company__link:hover .company__icon{
    fill: var(--hover-color);


}


/* |===================================================================| */
/* |<================↓-Footer(STUDIO)-↓============↥↥====>| */
/* |===================================================================| */


.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #2F303A;

    
}

.footer__main-block{
    display: flex;
    align-items: baseline;
}

.footer__contact-block{
    margin-right: 70px;
}

.footer__logo-link{
    display: inline-block;

    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    

    font-size: 26px;
    line-height: 1.19;
}


.footer__logo-style{
    color: var(--hover-color);
}

.footer__address{
    font-style: normal;

    color: #FFFFFF;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

.footer__contact{
    color: rgba(255, 255, 255, 0.6);;
    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
}

.footer__item{

    margin-top: 0;

}

.footer__item:not(:last-child){
    margin-bottom: 9px;
}


/* |===================================================================| */
/* |<================↓-FOOTER container join in(STUDIO)-↓============↥↥====>| */
/* |===================================================================| */





.footer__title-join{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}


.footer__list-join{
    display: flex;
    gap: 10px;
}


.footer__link-join{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;

}

.footer__link-join:hover{
    background-color: #2196f3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
}



.footer__icon-join{
    fill: #FFFFFF;

}

/* |===================================================================| */
/* |<================↓-FOOTER container SUB(STUDIO)-↓============↥↥====>| */
/* |===================================================================| */


.footer__sub{
    margin-left: auto;
}

.footer__sub-title{
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer__sub-block{
    display: flex;
    flex-wrap: nowrap;
}

.footer__sub-input{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    height: 50px;
    width: 358px;
    padding: 0 16px;
    margin-right: 12px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color 950ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer__sub-input:focus{
    background-color: #AFB1B8;
}

.footer__sub-input:hover,
.footer__sub-input:focus{
    border-color: #2196f3;
}

.footer__sub-subscribe{
    background-color: var(--hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 28px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer__sub-icon{
    display: block;
    margin-left: 10px;
}






/* |===================================================================| */
/* |<================↓-Main(Portfolio)-↓============↥↥====>| */
/* |===================================================================| */

.section-additional{
    padding-top: 94px;
}


.our-works{
    visibility: hidden;
    margin-top: 0;
    text-align: center;
}

.button__list{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 34px;
}




.button__portfolio{
    background-color: #F5F4FA;
    
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
  
    font: 500 16px Roboto;
    line-height: 1.62;
    color: var(--title-text-color);
  
    cursor: pointer;
  
    transition: all 0.25s ease-in;
}

.button__portfolio:hover,
.button__portfolio:focus{
    background-color: var(--hover-color);
    color: #FFFFFF;
}

.portfolio__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
}


.portfolio__item{
    width: 370px;
}

.cards{
    border: 1px solid #EEEEEE;
    border-top: 0;
    
}

.hover-cards{
    display: block;
}

.hover-cards:hover{

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



.title-img{
    padding: 20px 24px 4px 24px;
    color: var(--title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.text-img{
    padding: 4px 24px 20px 24px;
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}


/* MODAL WINDOW */


.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden.modal {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
  
  .modal {
    background-color: #ffffff;
  
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
  
    z-index: 5;
    width: 528px;
    height: 581px;
    padding: 40px;
  
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__btn {
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }

  .modal__btn:hover{
    fill: var(--hover-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  .modal__form {
    width: 100%;
  }
  
  .modal__title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
  
  .modal__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .modal-form-name {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
  }
  
  .modal-form-container {
    position: relative;
  }
  
  .modal-form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    padding-left: 45px;
    width: 100%;
    height: 40px;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
  }
  
  .modal-form-input:hover + .modal-form-icon {
    fill: var(--hover-color);
  }
  
  .modal-form-input:hover {
    border: 1px solid var(--hover-color);
  }
  
  .modal-form-input:focus {
    border: 1px solid var(--hover-color);
  }
  
  .modal-form-icon {
    position: absolute;
    left: 12px;
    top: 11px;
    z-index: 10;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .modal-form-icon:hover,
  .modal-form-icon:focus {
    fill: var(--hover-color);
  }
  
  .modal-form-container:focus-within .modal-form-icon {
    fill: var(--hover-color);
  }
  
  .modal-form-feedback {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    padding: 12px 16px;
    height: 120px;
    width: 100%;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    resize: none;
  }
  
  .modal-form-feedback:hover,
  .modal-form-feedback:focus {
    border: 1px solid var(--hover-color);
  }
  
  .modal-form-feedback::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .modal-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox-icons {
    margin-right: 7px;
    cursor: pointer;
  }
  
  .checkbox-check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox:checked + .checkbox-icons .checkbox-uncheck {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox:checked + .checkbox-icons .checkbox-check {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox:hover + .checkbox-icons .checkbox-uncheck,
  .checkbox:focus + .checkbox-icons .checkbox-uncheck {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
  }
  
  .modal-agreement-title {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    cursor: pointer;
  }
  
  .modal-agreement-link {
    color: var(--hover-color);
    text-decoration: none;
    border-bottom: 1px var(--hover-color) solid;
  }
  
  .modal-agreement-btn {
    background-color: var(--hover-color);
    color: #ffffff;
  
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
  
    padding: 10px 52px;
    margin-top: 30px;
    text-align: center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

/* |===================================================================| */
/* |<================↓-FOOTER (PORTFOLIO AND STUDIO)-↓============↥↥====>| */
/* |===================================================================| */




/* Ection Portfolio */


.portfolio__link{
    text-decoration: none;
    display: block;
    transition-property: transform, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio__img-container{
    position: relative;
    overflow: hidden;
}

.portfolio__link:hover .portfolio__description{
    transform: translateY(0);
}



.portfolio__link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.portfolio__description {
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    text-align: left;
    color: #FFFFFF;
}

