.comapny__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42px / 36px);
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;

    margin-bottom: 50px;
}

.company{
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // gap: 30px;   




    @media screen and (min-width: 480px){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        // width: 450px;
    }



    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }


    
    
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 92px;
        border-radius: 4px;
        
        @media screen and (max-width: 479.98px){
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 479.98px){
            flex: none;

        }


        @media screen and (min-width: 768px){
            width: 226px;

        }

        @media screen and (min-width: 1200px){
            width: 170px;
        }


    
    }
    
    
    &__link{  
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid $icon-fill;
        border-radius: 4px;
      
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        transition-property: border;

        &:hover{
            border-color: $hover-color;
        }
        
        &:hover .company__icon{
            fill: $hover-color;
        
        
        }

    }


    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $icon-fill;
      
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

        &:focus{
            fill: $hover-color;
        
        }
    }

}












