

.features{



    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px){
    }

    @media screen and (min-width: 1200px){
        padding-top: 94px;
    }

    


    &__title-main{
        visibility: hidden;
        margin-top: 0;
        margin-bottom: 0;
    
        color: $title-text-color;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        
    }

    &__item{

        @media screen and (max-width: 767.98px){
            max-width: 450px;
            margin-bottom: 30px;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199.98px){
            max-width: 354px;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1200px){
            max-width: 270px;

        }


    }

    &__title{
        margin-top: 30px;
        margin-bottom: 10px;
        color: $title-text-color;   
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        @media screen and (max-width: 767.98px){
            text-align: center; 
        }

        @media screen and (min-width: 768px){
            text-align: left;
        }

        @media screen and (min-width: 1200px){
            text-align: left;
        }


    }
    
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        width: 100%;

    }
    
    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        background-color: $team-section-bgrc;
        border-radius: 4px;


    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
    
        
    }
    
    
    &__text{
        margin-top: 0;
        margin-bottom: 0;
        color: $text-color;
    
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        
    }
    

}




