.header__section{
    display: flex;
    align-items: center;


}


.nav{

    display: flex;
    align-items: center;    

    &__list{
        display: flex;  
        margin-left: 90px;

        @media screen and (max-width: 767.98px){
            display: none;
        }

        & .nav__item:not(:last-child){
            margin-right: 50px;
        
        }

        & .nav__items--current{
            color: $hover-color;
        }

        & .nav__items:hover,
        & .nav__items:focus{
    color: $hover-color;
    
        }

        & .nav__items.nav__item--current{
    color: $hover-color;
        }
    
    }

    &__items{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;    
        color: $title-text-color;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

        &.nav__items--current{
            position: relative;
        }
        
        &.nav__items--current::after{
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $hover-color;
        }
        
    
    }


}


.logo{
    font-family: Raleway, sans-serif;
    color: $black-color;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    // @media screen and (max-width: 767.98px){
    //     margin-right: auto;
    // }

    // @media screen and (max-width: 1199.98px){
    //     margin-left: auto;
    // }

    // @media screen and (min-width: 1200px){
    //     display: flex;
    //     gap: 30px;
    //     margin-left: auto;
    // }

    &__style{
        color: $hover-color;
    }

    

}


.contacts{
    // margin-left: auto;
    // display: flex;
    // gap: 30px;

    @media screen and (max-width: 767.98px){
        display: none;
    }

    @media screen and (max-width: 1199.98px){
        margin-left: auto;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        gap: 30px;
        margin-left: auto;
    
    }

    &__link{

        margin-left: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        list-style: none;
    
        color: $text-color;
        font-style: normal;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;  
        letter-spacing: 0.02em;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;




        &:hover,
        &:focus{
             color: $hover-color;
        }
    
    }

.contacts__link{
    @media screen and (max-width: 1199.98px){
        margin-bottom: 10px;
    }
}

    &__icon{
        fill: $text-color;
        margin-right: 10px;
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    
    }

    &__icon--position{
        margin-left: 10px;
    }
    
    
    &__icon--position:hover .contacts__icon{
        fill: $hover-color;
    
    }

}














.line{
    border-bottom: 1px solid $line-color;
}