.team__section{
    background-color: $team-section-bgrc;
    // width: 100%;
    padding-top: 94px;

    @media screen and (max-width: 767.98px){
        padding-top: 60px;
        padding-top: 60px;
    }

    @media screen and (max-width: 1199.98px){
        padding-top: 60px;
        padding-top: 60px;
    }

    &--title{
        margin-bottom: 50px;
        color: var(--title-color);
        font-weight: 700;
        text-align: center; 

        @media screen and (max-width: 1199.98px){
            font-size: 28px;
            line-height: calc(33px / 28px);
        }

        @media screen and (min-width: 1200px){
            font-size: 36px;
            line-height: 1.16;
        }
    }
}



.team{


    @media screen and (min-width: 480px){
        

    }

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px){
        gap: 30px;
     }



    &__img{

        @media screen and (max-width: 767.98px){
            width: 450px;

        }


        @media screen and (min-width: 768px){
            width: 354px;
        }

        @media screen and (min-width: 1200px){
           width: 270px; 
        }



    }

    &__item{
        background-color: $main-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (max-width: 767.98px){
            width: 100%;
            margin-bottom: 30px;
    
        }

        @media screen and (min-width: 768px){
            width: 354px;

        }

        @media screen and (min-width: 1200px){
            width: 270px; 
         }



    }
    

    &__name{
        display: inline-block;
        display: flex;
        justify-content: center;
    
        margin-top: 21.5px;
        margin-bottom: 10px;
        color: $title-text-color;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;  
        letter-spacing: 0.03em;
    }
    
    
    &__specialty{
    
        display: flex;
        justify-content: center;
    
        margin-top: 0;
        color: $text-color;
    
       
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        
    }
}




.team__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;



    &--item{
        margin-top: 16px;
        margin-bottom: 30px;
    }
    
    &--link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    
        background-color: $main-color;
    
        border-radius: 50%;
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    
        &:hover{
            background-color: $hover-color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
            transition-property: background-color;
            
        }
        
        &:hover .team__socials--icon{
            fill: $main-color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
            transition-property: fill;
            
        }
    
    
    }
    
    &--icon{
        fill: $icon-fill;
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
     
    }

}


