.work{
    padding-top: 94px;

    &__title{

        margin-bottom: 50px;
        margin-top: 0;
        color: $title-text-color;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        
    }

    &__list{
        display: flex;
        gap: 30px;
    }
    



}


.work__overlay{
    position: relative;


    &--box{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);


    }

    &--text{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: $main-color;
    }

}

