.cards{
    border: 1px solid  $main-color;
    border-top: 0;
    
    &__title{
        padding: 20px 24px 4px 24px;
        color: $title-text-color;
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    
        letter-spacing: 0.06em;
    }
    

    &__text{
        padding: 4px 24px 20px 24px;
        color: $text-color;
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
    }
}





