.portfolio{


    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        gap: 30px;
    }
    
    
    &__item{
        width: 370px;
    }
    
    &__link{
        text-decoration: none;
        display: block;
        transition-property: transform, box-shadow;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;


        &:hover .portfolio__description{
            transform: translateY(0);
        }
        
        
        
        &:hover{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__img-container{
        position: relative;
        overflow: hidden;
    }


    &__description {
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        position: absolute;
        top: 0;
        transform: translateY(101%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        text-align: left;
        color: $main-color;
    }

}









