.footer__sub{
    margin-left: auto;

    &-title{
        color: $main-color;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &-block{
        display: flex;
        flex-wrap: nowrap;
    }

    &-subscribe{
        background-color: $hover-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    
        color: $main-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        text-align: center;
        letter-spacing: 0.06em;
    
        padding: 10px 28px;
    
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    &-icon{
        display: block;
        margin-left: 10px;
    }
}


.footer__sub-input{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    height: 50px;
    width: 358px;
    padding: 0 16px;
    margin-right: 12px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color 950ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
        background-color: $icon-fill;
    }

    &:hover,
    &:focus{
    border-color: $hover-color;
    }

}

