// :root{
//     --title-color: #212121;
//     --text-color: #757575;
//     --hover-color: #2196f3;
// }

$main-color: #ffffff;
$hover-color: #2196f3;
$text-color: #757575;
$background-color: #2f303a;
$address-text-color: rgba(255, 255, 255, 0.6);
$title-text-color: #212121;
$black-color: #000000;
$line-color: #ECECEC;
$linear-gradient: rgba(47, 48, 58, 0.4);
$box-shadow-color: rgba(0, 0, 0, 0.15);
$team-section-bgrc: #F5F4FA;
$icon-fill: #AFB1B8;
$border-cards: #EEEEEE;